.button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
  }
  .button1 {border-radius: 30px;}

  div.mycontainer {
    margin-bottom: 100px;
  }
  div.myfooter {
    height: 50px;
    background-color: black;
  }